body {
  padding: 0;
  min-width: 700px;
  overflow-x: auto;
}

h1 {
  text-align: center;
}

.container {
  max-width: 700px;
  margin: 0 auto;
}

.underlined {
  border-bottom: solid lightgrey 1px;
}

.post {
  padding-bottom: 15px;
  margin-bottom: 19px;
}

.main > button {
  height: 50px;
  width: 200px;
  margin: 40px auto;
  font-size: 1.5em;
  display: block;
}

.main > input {
  margin-top: 30px;
  height: 50px;
  font-size: 1.5em;
}

.author {
  font-size: 0.7em;
  color: #808080;
}

.navigation {
  width:532px;
  margin:0 auto;
}

.navigation button {
  margin: 5px 5px 25px;
  width: 120px;
}

.paging div:first-child {
  float: left;
}

.paging div:last-child {
  float: right;
}

.paging div{
  padding-bottom: 20px;
}

.comment {
  margin-bottom: 10px;
}

.main-comment > .author,
.no-comments {
  margin-top: 30px;
}

.article {
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 30px;
}

.article-title {
  font-size: 1.5em;
}

.loader {
  margin: 0 auto;
  width: 32px;
}

.article-loader {
  margin-top: 100px;
}

.no-link, .no-link:hover, .no-link:visited, .no-link:active {
  text-decoration: none;
}
